@use "../components/"as *;

.p-single {
    margin: 60px 0 100px;

    @media screen and (max-width: $tab) {
        margin: 60px 0 60px;
    }
}

.p-single__wrap {
    width: min(100% - 40px, 720px);
    margin: 0 auto;
}

.p-single__links__wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;

    .p-single__category__btn {
        margin: 0;

        .btn__link {
            @include btn(10px, 4px, $c-base, $c-accent, $c-assort);
            border-radius: 25px;
        }
    }

    .date__link {
        @include f-base($fs-normal, 400);
        display: grid;
        place-content: center;
        color: $c-text;

        &:hover {
            opacity: 0.8;
        }

        .p-post__list__date {
            font-size: inherit;
        }
    }
}

.p-single__contents {
    .p-single__title {
        @include f-base($fs-c-32, 600);
        color: $c-assort;
        margin-bottom: 18px;
    }

    .p-subtitel__line {
        border: 1px solid $c-text;
        margin-bottom: 40px;
    }

    h3 {
        display: block;
        @include f-base($fs-c-24, 500);
        color: $c-text;
        padding-left: 20px;
        margin-bottom: 30px;
        border-left: 3px $c-accent solid;
    }

    .p-single__text__wrap {
        @include f-base($fs-c-18, 400);

        p {
            all: inherit;
            line-height: 1.6;
            margin-bottom: 30px;
            color: #454545;
            font-weight: 400;
        }
    }
}

.single__btn {
    @include f-base($fs-c-18, 400);
    margin-top: 60px;
    cursor: pointer;
    display: block;
    margin: 0 auto;

    .btn__link {
        @include btn(1.4em, .4em, $c-white, $c-assort, $c-assort-btn);
        border-radius: 10em;
    }
}

.p-pager__linkWrap {
    width: 100%;
    display: flex;
    gap: 1px;

    .pager__prev {
        width: 50%;
        border-right: 1px $c-text solid;

        a {
            font-size: clamp(1.4rem, 1vw + 1rem, 1.6rem);

            &:hover {
                opacity: 0.6;
            }
        }
    }

    .pager__next {
        width: 50%;
        text-align: end;

        a {
            font-size: clamp(1.4rem, 1vw + 1rem, 1.6rem);

            &:hover {
                opacity: 0.6;
            }
        }
    }
}
